#app {
  display: flex; /* Ensure flexbox layout for the container */
  height: 100%; /* Set this to fill the full height */
  background-color: black;
}
/* App.css */
body {
  background-color: black;
  color: white; /* Optional: change text color to white for better visibility */
  margin: 0; /* Optional: remove default margin */
}
